<p id="notice"><%= notice %></p>

<h1>Listing Discos</h1>

<table>
  <thead>
    <tr>
      <th>Cantidad</th>
      <th>Titulo</th>
      <th>Genero</th>
      <th>Artista</th>
      <th>Anio</th>
      <th>Album</th>
      <th>Numcanciones</th>
      <th>Descuento</th>
      <th>Costo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @discos.each do |disco| %>
      <tr>
        <td><%= disco.cantidad %></td>
        <td><%= disco.titulo %></td>
        <td><%= disco.genero %></td>
        <td><%= disco.artista %></td>
        <td><%= disco.anio %></td>
        <td><%= disco.album %></td>
        <td><%= disco.NumCanciones %></td>
        <td><%= disco.descuento %></td>
        <td><%= disco.costo %></td>
        <td><%= link_to 'Show', disco %></td>
        <td><%= link_to 'Edit', edit_disco_path(disco) %></td>
        <td><%= link_to 'Destroy', disco, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Disco', new_disco_path %>
