<p id="notice"><%= notice %></p>

<p>
  <strong>Usr:</strong>
  <%= @vendedore.usr %>
</p>

<p>
  <strong>Pwd:</strong>
  <%= @vendedore.pwd %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @vendedore.nombre %>
</p>

<p>
  <strong>Ap:</strong>
  <%= @vendedore.ap %>
</p>

<p>
  <strong>Am:</strong>
  <%= @vendedore.am %>
</p>

<p>
  <strong>Gerente:</strong>
  <%= @vendedore.gerente %>
</p>

<p>
  <strong>Ganancia:</strong>
  <%= @vendedore.ganancia %>
</p>

<%= link_to 'Edit', edit_vendedore_path(@vendedore) %> |
<%= link_to 'Back', vendedores_path %>
